# Объектные файлы и скомпилированные модули Free Pascal
*.o
*.ppu
*.obj

# Исполняемые файлы (Windows) и динамические библиотеки
*.exe
*.dll
*.so
*.dylib

# Твои исполняемые файлы без расширений (Linux/macOS)
# Git не умеет автоматически игнорировать файлы без расширений, 
# поэтому названия готовых программ пока нужно вписывать сюда:
Practice/Calculator
PASCAL/Calculator
