{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}
{% block body %}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Quaerat praesentium expedita rerum perspiciatis!</li>
<li>Facilis molestias suscipit dicta obcaecati.</li>
<li>Obcaecati praesentium recusandae atque quia!</li>
<li>Tempora iure ab unde temporibus!</li>
<li>Soluta hic porro deserunt quia.</li>
<li>Nam et nesciunt velit aut.</li>
<li>Placeat minima repudiandae explicabo illum!</li>
<li>Suscipit possimus adipisci ea soluta.</li>
<li>Ipsum adipisci ducimus numquam illo.</li>
<li>Repellendus eveniet iusto fugit beatae!</li>
<li>Harum, velit. Sunt, ducimus soluta.</li>
<li>Iste similique eos atque dicta.</li>
<li>Distinctio reiciendis est deleniti dolorem!</li>
<li>Veritatis accusamus nulla aut. Saepe.</li>
<li>Deleniti consequatur minus sed iure.</li>
<li>Expedita obcaecati sapiente nihil inventore?</li>
<li>Cum veniam harum magnam iusto.</li>
<li>Voluptatum deleniti doloribus iste accusantium?</li>
<li>Molestias atque asperiores commodi et?</li>
<li>Dolore voluptatum amet consequuntur doloribus?</li>
<li>Ad repudiandae vitae soluta deserunt.</li>
<li>Obcaecati ea soluta inventore ipsum.</li>
<li>Rem autem neque nihil error?</li>
<li>Earum iste quos voluptates ducimus.</li>
<li>Nesciunt dolore repudiandae omnis in?</li>
<li>Eum possimus nobis aspernatur inventore?</li>
<li>Esse, inventore! Nisi, provident doloribus.</li>
<li>Totam magnam distinctio aut quos.</li>
<li>Soluta accusamus ipsam nemo quaerat.</li>
<li>Error a rerum atque vitae!</li>
<li>Dolore eum facere dicta magni.</li>
<li>A sed totam commodi harum?</li>
<li>Explicabo accusamus id reprehenderit porro.</li>
<li>Mollitia consequatur temporibus sunt eaque.</li>
<li>Exercitationem, dicta. Similique, optio aliquam?</li>
<li>Aliquid totam vitae fugit voluptate!</li>
<li>Ea voluptate eligendi cumque dolor.</li>
<li>Quibusdam illum quasi impedit quia.</li>
<li>Perspiciatis alias tempore aliquid id.</li>
<li>Debitis ea aperiam numquam voluptates.</li>
<li>Iste similique odit sunt molestias.</li>
<li>Praesentium quo aliquid labore nobis!</li>
<li>Nostrum tempore possimus molestias ab.</li>
<li>Minima sed libero molestias aliquam?</li>
<li>Ipsam earum laborum facere harum.</li>
<li>Temporibus totam inventore doloremque provident!</li>
<li>Ad ab impedit perferendis consequatur?</li>
<li>Earum tempora illo deserunt. Sit.</li>
<li>Omnis consequuntur dolores modi quidem.</li>
<li>Quod laudantium voluptate ratione numquam.</li>
<li>Doloremque dolorem eveniet possimus ipsum!</li>
<li>Necessitatibus consectetur quaerat tempora cum!</li>
<li>Omnis perferendis dolorum incidunt ipsum?</li>
<li>Tempore adipisci sapiente voluptatum veritatis.</li>
<li>Tempore enim temporibus ipsa cupiditate.</li>
<li>Quis eveniet quia eaque corporis?</li>
<li>Aperiam ut iste dolores possimus!</li>
<li>Molestiae harum quod voluptates magnam?</li>
<li>Dolorem ab deleniti totam quisquam.</li>
<li>Fugiat tempore magni id molestiae?</li>
<li>Vel fugit iste recusandae nemo?</li>
<li>Repudiandae accusantium quidem vitae excepturi.</li>
<li>Recusandae earum odit officia ea.</li>
<li>Dolore minus repellendus enim. Velit!</li>
<li>Facere nemo error quae eum!</li>
<li>Dignissimos assumenda blanditiis quam deserunt?</li>
<li>Commodi consequuntur aliquam nisi eveniet?</li>
<li>Saepe omnis cum velit repudiandae.</li>
<li>Veniam atque provident nemo iure!</li>
{% endblock %}