<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|capfirst }}</title>
</head>
<body>
<ul>
    <li><a href="{% url 'home' %}">Main page</a></li>
    {% for par in menu %}
    <li>
        <a href="{% url par.url_name %}">{{ par.title }}</a>
    </li>
    {% endfor %}
</ul>
<p>{{ menu|join:" | " }} </p>
<h1>{{ title }}</h1>

<ul>
    {% for p in posts %}
    {% if not is_published %}
    <li>
        <h2>{{ p.title }}</h2>
        <p>{{ p.content }}</p>
        <p><a href="{% url 'post' p.id %}">Reading post</a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>